# Application Configuration
PROJECT_NAME=TransitOps
ENVIRONMENT=development
API_V1_STR=/api/v1

# Security
SECRET_KEY=supersecretkeyforjwttokengenerationplaceholdertochangeinprod
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days

# Database Configuration
# Local Postgres Setup:
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/transitops_db
# Docker compose Setup (uncomment when running through docker compose):
# DATABASE_URL=postgresql://postgres:postgrespassword@db:5432/transitops_db

# CORS Configuration
# Comma-separated list of allowed origins
BACKEND_CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://127.0.0.1:5173
